<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}.%method) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dinstone" level="WARN"/>
    <logger name="org.apache.mina" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>